[v-cloak] {
	display: none;
}


/*moon-autocomplete-input组件中包裹ul li 的容器*/

.moon-autocomplete-ul-div {
	z-index: 10;
	border: 1px solid #D0D0D0;
	background: white;
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	/*边框圆角*/
	border-radius: 3px;
}


/*moon-autocomplete-input组件中ul元素*/

.moon-autocomplete-ul-div ul {
	/*去li前面的点*/
	list-style-type: none;
	/*li顶格*/
	padding: 0px;
	margin: 0px;
	position: relative;
	/*文字缩进*/
	text-indent: 1em;
}


/*moon-autocomplete-input组件中li元素，下划线*/

.moon-autocomplete-ul-div li {
	/*高度在调用组件时设定*/
	border-bottom: 1px solid #D0D0D0;
	/**字母大写   capitalize首字母大写  uppercase大写 lowercase 小写*/
	text-transform: uppercase;
}


/*moon-autocomplete-input组件中li元素 ,鼠标悬停变色*/

.moon-autocomplete-ul-div li:hover {
	background: #F3F3F3;
}


/*autocomplete-input组件最外盒子*/

.moon-autocomplete-input {
	height: 100%;
}


/*moon-autocomplete-input组件中input元素*/

.moon-autocomplete-input>input {
	/*去掉获取焦点时颜色*/
	outline: none;
	border: 0px solid #D0D0D0;
	/*边框圆角*/
	border-radius: 3px;
	/*文字缩进*/
	text-indent: 0em;
	font-family: '宋体';
	font-size: 18px;
	height: 100%;
}


/*moon-autocomplete-input组件中li元素 用于键盘上下选择变色*/

.moon-autocomplete-li {
	background: #F3F3F3;
}

.moon-dropdown {
	z-index: 10;
	border: 1px solid #D0D0D0;
	background: white;
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	/*边框圆角*/
	border-radius: 3px;
	width: 50%;
	top: 0px;
	right: 2px;
	height: auto;
	float: left;
}

.moon-icon {
	/* 通过设置 font-size 来改变图标大小 */
	font-size: 10px;
	width: 1.5em;
	height: 1.5em;
	/* 图标和文字相邻时，垂直对齐 */
	vertical-align: -0.15em;
	/* 通过设置 color 来改变 SVG 的颜色/fill */
	fill: currentColor;
	/* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
	overflow: hidden;
}


/**可以更改loading图片*/

.moon-loading {
	background: url(images/loading.gif);
}


/*显示所有被选图片*/

.moon-upLoadImg_show {
	position: relative;
	float: left;
	/**修改间尺*/
	padding: 9px;
}


/*删除已选择的图片*/

.moon-upLoadImg_show_deleteSelected {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 15px;
	width: 15px;
	z-index: 10;
	/*可以自定义图片*/
	background: url(images/del.png);
	background-size: 100% 100%;
}


/*已选择的图片*/

.moon-upLoadImg_show_selected {
	/**默认背景*/
	/*background-image: url(images/default.jpg);*/
	width: 100px;
	height: 100px;
}

.moon-tree-cursor-style:hover {
	cursor: pointer;
}

.moon-tree-next-node {
	padding-left: 18px;
	/*不换行*/
	word-break: keep-all;
	white-space: nowrap;
}

.moon-tree-root {
	font-size: 10px;
	font-weight: bold;
	font-family: "宋体";
}

.moon-tree-mid {
	font-size: 10px;
	font-family: "宋体";
}

.moon-tree-last {
	font-size: 10px;
	font-family: "宋体";
}

.moon-tree-selected {
	background: #d5e8fc;
}

.moon-tree-unselected {
	background: auto;
}

.moon-tree-td-text {
 
}

.moon-tree-td-checkbox {
	line-height: 50%;
}

.moon-tree-td-icon {
	line-height: 50%;
}

.moon-tree-table {}

.moon-tree-unselected:hover {
	background: #eaf2fe;
}

.moon-checkbox-focus {
	-webkit-box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
	box-shadow: 0 0 0 2px rgba(45, 140, 240, .2);
	z-index: 1
}

.moon-checkbox {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	/*cursor: pointer;*/
	line-height: 1;
	position: relative
}

.moon-checkbox-disabled {
	cursor: not-allowed
}

.moon-checkbox:hover .moon-checkbox-inner {
	border-color: #bcbcbc
}

.moon-checkbox-inner {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid #dddee1;
	border-radius: 2px;
	background-color: #fff;
	-webkit-transition: border-color .2s ease-in-out, background-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out
}

.moon-checkbox-inner:after {
	content: '';
	display: table;
	width: 4px;
	height: 8px;
	position: absolute;
	top: 1px;
	left: 4px;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(45deg) scale(0);
	-ms-transform: rotate(45deg) scale(0);
	transform: rotate(45deg) scale(0);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.moon-checkbox-large .moon-checkbox-inner {
	width: 16px;
	height: 16px
}

.moon-checkbox-large .moon-checkbox-inner:after {
	width: 5px;
	height: 9px
}

.moon-checkbox-small {
	font-size: 12px
}

.moon-checkbox-small .moon-checkbox-inner {
	width: 12px;
	height: 12px
}

.moon-checkbox-small .moon-checkbox-inner:after {
	top: 0;
	left: 3px
}

.moon-checkbox-input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -0.2rem;
	bottom: 0;
	left: -0.2rem;
	right: 0;
	z-index: 1;
	/*cursor: pointer;*/
	opacity: 0
}

.moon-checkbox-input[disabled] {
	cursor: not-allowed
}

.moon-checkbox-checked:hover .moon-checkbox-inner {
	border-color: #2d8cf0
}

.moon-checkbox-checked .moon-checkbox-inner {
	border-color: #2d8cf0;
	background-color: #2d8cf0
}

.moon-checkbox-checked .moon-checkbox-inner:after {
	content: '';
	display: table;
	position: absolute;
	width: 40%;
	left: 25%;
	top: 8%;
	height: 80%;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}

.moon-checkbox-large .moon-checkbox-checked .moon-checkbox-inner:after {
	width: 5px;
	height: 9px
}

.moon-checkbox-small .moon-checkbox-checked .moon-checkbox-inner:after {
	top: 0;
	left: 3px
}

.moon-checkbox-disabled.moon-checkbox-checked:hover .moon-checkbox-inner {
	border-color: #dddee1
}

.moon-checkbox-disabled.moon-checkbox-checked .moon-checkbox-inner {
	background-color: #f3f3f3;
	border-color: #dddee1
}

.moon-checkbox-disabled.moon-checkbox-checked .moon-checkbox-inner:after {
	-webkit-animation-name: none;
	animation-name: none;
	border-color: #ccc
}

.moon-checkbox-disabled:hover .moon-checkbox-inner {
	border-color: #dddee1
}

.moon-checkbox-disabled .moon-checkbox-inner {
	border-color: #dddee1;
	background-color: #f3f3f3
}

.moon-checkbox-disabled .moon-checkbox-inner:after {
	-webkit-animation-name: none;
	animation-name: none;
	border-color: #f3f3f3
}

.moon-checkbox-disabled .moon-checkbox-inner-input {
	cursor: default
}

.moon-checkbox-disabled+span {
	color: #ccc;
	cursor: not-allowed
}

.moon-checkbox-indeterminate .moon-checkbox-inner:after {
	content: '';
	width: 50%;
	height: 0px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	position: absolute;
	left: 20%;
	top: 45%
}

.moon-checkbox-indeterminate:hover .moon-checkbox-inner {
	border-color: #2d8cf0
}

.moon-checkbox-indeterminate .moon-checkbox-inner {
	background-color: #2d8cf0;
	border-color: #2d8cf0
}

.moon-checkbox-indeterminate.moon-checkbox-disabled .moon-checkbox-inner {
	background-color: #f3f3f3;
	border-color: #dddee1
}

.moon-checkbox-indeterminate.moon-checkbox-disabled .moon-checkbox-inner:after {
	border-color: #bbbec4
}

.moon-checkbox-large .moon-checkbox-indeterminate .moon-checkbox-inner:after {
	width: 13px;
	top: 8px
}

.moon-checkbox-small .moon-checkbox-indeterminate .moon-checkbox-inner:after {
	width: 6px;
	top: 4px
}

.moon-checkbox+span {
	margin-right: 4px
}

.moon-checkbox-group {
	font-size: 14px
}

.moon-checkbox-group-item {
	display: inline-block
}


/*上传图片总框架*/

.moon-upLoadImg {
	margin-top: 5px;
}

.moon-upLoadImg_ready {
	position: relative;
	width: 100%;
}

.moon-upLoadImg_ready_p {
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	font-family: '宋体';
	font-size: 18px;
	color: black;
}

.moon-upLoadImg_ready_p:before {
	content: "上传图片";
}

.moon-upLoadImg_ready_input {
	width: 100%;
	opacity: 0;
}

.moon-upLoadImg_ready_label {
	position: absolute;
	/*可以自定义图片*/
	/*background: url(images/search.png);*/
	height: 80%;
	width: 20px;
	top: 1px;
	right: 9px;
	background-size: 100% 100%;
}


/*分割线*/

.moon-upLoadImg_line {
	width: 100%;
	height: 1px;
}

.moon-upLoadImg_line b {
	background: #ddd;
	width: 100%;
	height: 1px;
	vertical-align: top;
	display: inline-block;
}